/* 
@Autor : HeltonBValim
*/
@charset "UTF-8";

/*Formatações gerais*/
body.principal {
    background-color: black;
    color: rgba(0, 0, 0, 1);
    font-family: Arial, sans-serif;
    font-size: 14pt;
}
div#interface{
    background-color: #ffffff;
    width: 80vw;
    margin: auto;
    box-shadow: 3px 3px 6px #ffff00;
    padding: 15px;
}
hr {
    height: 3px;
}
p{
    text-align: justify;
    text-indent: 50px;
}
ul {
    list-style-type: circle;
}
hgroup#titulo {
    height: 100px;
    text-align: center;
}
hgroup#titulo h1 {
    font-size: 40px;
}
/*Formatação do Menu*/
header#cabecalho {
    margin: 0px;
    padding: 0px;
}
nav#menu {
    display: block;
    text-align: center;
}
nav#menu h6 {
    display: none;
}
nav#menu ul {
    position: relative;
    bottom: 4px;
    list-style: none;
    text-transform: uppercase;
}
nav#menu li {
    display: inline-block;
    font-size: 16px;
    font-weight: bolder;
    padding: 10px;
    margin-bottom: 0px;
    margin-left: 5px;
    margin-top: 0px;
    margin-right: 5px;
    transition: background-color 0.5s;
}
nav#menu li:hover {
    background-color: rgba(0, 0, 0, 0.3);
}
nav#menu a {
    text-decoration: none;
    color: rgba(0,0,0,1);
}
nav#menu a:hover {
    color: rgba(255,255,255,1);
    text-decoration: underline;
}
/* Fim Formatação do Menu*/
aside#lateral{
    position: absolute;
    display: inline-block;
    float: left;
    width: 10%;
}
img#logo-cv {
    position: fixed;
    width: 150px;
}
section#txt-info {
    position: relative;
    display: inline-block;
    float: right;
    width: 85%;
}
div#partes {
    padding: 20px;
}
iframe {
    display: block;
    margin: auto;
    width: 100%;
    border: none;
}
footer#rodape {
    clear: both;
    text-align: center;
    padding-top: 10px;
}