@charset "UTF-8";
/* 
@Autor : HeltonBValim
*/
/*Formatações gerais*/
body#principal {
    background-color: black;
    color: rgba(0, 0, 0, 1);
    font-family: Arial, sans-serif;
}
table#corpo {
    background-color: #ffffff;
    border: 2px solid #606060;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
/*table#corpo td#lateral {
    width: 15%;
    height: 100
}*/
div#interface {
    background-color: #ffffff;
    width: 90vw;
    height: 100%;
    margin: auto;
    box-shadow: 3px 3px 6px #ffff00;
}
div#esquerda {
    position: relative;
    display: inline-block;
    float: left;
    width: 10%;
    margin: auto;   
}
img#logo-cv {
    margin: auto;
    width: 15%;
    height: 620px;
    padding: 5px;
}
div#direita {
    position: relative;
    display: inline-block;
    float: right;
    width: 85%;
    height: 620px;
}
header#cabecalho {
    margin: auto;
    padding: 0px;
    height: 200px;
}
header#cabecalho h6 {
    margin-bottom: 0px;
    font-size: 10pt;
    color: #606060;
}
hgroup#titulo {
    height: 100px;
    text-align: center;
}
hgroup#titulo h1 {
    font-size: 50px;
}
nav#menu {
    display: block;
    text-align: center;
}
nav#menu ul {
    position: relative;
    bottom: 4px;
    list-style: none;
    text-transform: uppercase;
}
nav#menu li {
    display: inline-block;
    font-size: 16px;
    font-weight: bolder;
    padding: 10px;
    margin-bottom: 0px;
    margin-left: 5px;
    margin-top: 0px;
    margin-right: 5px;
    transition: background-color 0.5s;
}
nav#menu li:hover {
    background-color: rgba(0, 0, 0, 0.3);
}
nav#menu a {
    text-decoration: none;
    color: rgba(0,0,0,1);
}
nav#menu a:hover {
    color: rgba(255,255,255,1);
    text-decoration: underline;
}
iframe {
    margin: auto;
    border: none;
    width: 100%;
    height: 300px;
    padding: 10px;
}
footer#rodape {
    text-align: center;
    margin: auto 0px auto 0px;
    height: 50px;
    padding: 0px;
}
footer#rodape hr {
    padding-bottom: 0px;
    margin-bottom: 0px;
}
hr {
    height: 3px;
}
p{
    text-align: justify;
    text-indent: 50px;
}
ul.nivel1 {
    list-style-type: circle;
}
ul {
    list-style-type: disc;
}
.invisivel {
    display: none;
}
.direita {
    text-align: right;
}
.esquerda {
    text-align: left;
}
.centro {
    text-align: center;
}
