@charset "UTF-8";
/*@Autor : HeltonBValim*/

@media screen and (max-width:767px) {}
@media screen and (min-width:768px) and (max-width:1023px) {}
@media screen and (min-width:1024px) {
/*Estrutura da página*/
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);
    font-size: 12px;
}
body {
    margin: 1vh;
    padding: 1vh;
    background-color: rgb(255, 255, 255);
}
.embalagem {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 25vh 55vh 14vh;
    gap: 1vh;
    grid-template-areas: "aside header"
                         "aside main"
                         "aside footer";
}
aside {
    background: url("../files/imgs/cv_v.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    grid-area: aside;
}
header {
    grid-area: header;
    background-color: aqua;
}
main {
    background: url("../files/imgs/logos/hbvtec.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: rgba(255, 255, 255, 0.8);
    background-blend-mode: lighten;
    display: flex;
    flex-direction: column;
    grid-area: main;
}
    iframe {
        height: 100%;
        width: 100%;
    }
footer {
    grid-area: footer;
    background-color: yellow;
}
/*Formatações gerais*/
hr {
    height: .1rem;
    max-width: 100%;
    margin: 0px;
    padding: 0px;
}
p{
    text-align: justify;
    text-indent: 5em;
}
ul {
    list-style-type: disc;
}
ul.nivel1 {
    list-style-type: circle;
}
.invisivel {
    display: none;
}
.direita {
    text-align: right;
}
.centro {
    text-align: center;
}
.destaque{
    font-weight: bold;
    font-style: italic;
}
.conteudo {
    background-color: rgba(255, 255, 255, 0.8);
    background-blend-mode: lighten;
}
hgroup#titulo h1 {
    font-size: 2.5em;
}
hgroup#titulo h6 {
    text-align: right;
    font-size: 1em;
    color: #606060;
    margin: 0 1em 0 0;
    padding: 0;
}
/*Menu*/
nav#menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}
    nav#menu ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        text-transform: uppercase;
    }
    nav#menu li {
        font-size: 1.5em;
        font-weight: bolder;
        transition: background-color 0.5s;
        margin: 0 .5em 0 .5em;
        padding: .1rem;
    }
    nav#menu li:hover {
        background-color: rgba(0, 0, 0, 0.3);
    }
    nav#menu a {
        text-decoration: none;
        color: rgba(0,0,0,1);
    }
    nav#menu a:hover {
        color: rgba(255,255,255,1);
        text-decoration: underline;
    }
/*Imagens*/
.icone {
    height: 1em;
    width: 1em;
}
img#foto3x4 {
    display: block;
    position: absolute;
    right: 1em;
}