@charset "UTF-8";
/* 
@Autor : HeltonBValim
*/
/*Formatações gerais*/
body#principal {
    background-color: black;
    color: rgba(0, 0, 0, 1);
    font-family: Arial, sans-serif;
}
/* configurações gerais */
ul {
    list-style-type: disc;
}
    ul.nivel1 {
        list-style-type: circle;
    }
hr {
    height: 3px;
}
p {
    text-align: justify;
    text-indent: 50px;
}
.invisivel {
    display: none;
}
.direita {
    text-align: right;
}
.esquerda {
    text-align: left;
}
.centro {
    text-align: center;
}
/* */
div#interface {
    background-color: #ffffff;
    width: 90%;
    height: 100%;
    margin: auto;
    box-shadow: 3px 3px 6px #ffff00;
}
    aside#esquerda {
        display: block;
        max-width: 24%;
        float: left;
        border-right: 1px solid #606060;
        padding-right: 15px;
    }
        aside#esquerda img {
            max-width: 100%;
            max-height: 100%;
            margin: auto;
        }
    section#direita {
        display: block;
        width: 74%;
        float: right;
        background-color: #dddddd;
    }
        header#cabecalho {
            margin: auto;
            padding: 0px;
            height: 200px;
        }
        header#cabecalho h6 {
            margin-bottom: 0px;
            font-size: 10pt;
            color: #606060;
        }
            hgroup#titulo {
                height: 100px;
                text-align: center;
            }
            hgroup#titulo h1 {
                font-size: 50px;
            }
            nav#menu {
                display: block;
                text-align: center;
            }
            nav#menu ul {
                position: relative;
                bottom: 4px;
                list-style: none;
                text-transform: uppercase;
            }
            nav#menu li {
                display: inline-block;
                font-size: 16px;
                font-weight: bolder;
                padding: 10px;
                margin-bottom: 0px;
                margin-left: 5px;
                margin-top: 0px;
                margin-right: 5px;
                transition: background-color 0.5s;
            }
            nav#menu li:hover {
                background-color: rgba(0, 0, 0, 0.3);
            }
            nav#menu a {
                text-decoration: none;
                color: rgba(0,0,0,1);
            }
            nav#menu a:hover {
                color: rgba(255,255,255,1);
                text-decoration: underline;
            }
    footer#rodape {
        clear: both;
        border-top: 1px solid #606060;
        text-align: center;
        margin: auto 0px auto 0px;
        height: 50px;
        padding: 0px;
    }
    footer#rodape hr {
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
        iframe {
            margin: auto;
            border: none;
            width: 99%;
            height: 300px;
            padding: 10px;
        }            
/*div#esquerda {
    position: relative;
    display: inline-block;
    float: left;
    width: 10%;
    margin: auto;   
}*/

/*div#direita {
    position: relative;
    display: inline-block;
    float: right;
    width: 85%;
    height: 620px;
}*/