@charset "UTF-8";

/*@Autor : HeltonBValim*/

/*Formatações gerais*/
html {
    font-size: 16px;    
}
body#principal {
    background-color: black;
    color: rgba(0, 0, 0, 1);
    font-family: Arial, sans-serif;
}
/*Configurações gerais*/
hr {
    height: 3px;
    max-width: 100%;
    margin: 0px;
    padding: 0px;
}
p{
    text-align: justify;
    text-indent: 50px;
}
ul {
    list-style-type: disc;
}
ul.nivel1 {
    list-style-type: circle;
}
.invisivel {
    display: none;
}
.direita {
    text-align: right;
}
.centro {
    text-align: center;
}
.destaque{
    font-weight: bold;
    font-style: italic;
}
.ini-cont {
    counter-reset: meucontador;
}
.imp-cont {
    content: counter(meucontador);
}
.inc-cont:before {
    counter-increment: meucontador;
}
/**/
div#interface {
    background-color: white;
    width: 90vw;
    height: 100%;
    margin: auto;
    box-shadow: 3px 3px 6px #ffff00;
}
    aside#esquerda {
        display: block;
        width: 12vw;
        float: left;
        padding-right: 1px;
    }
    section#direita {
        display: block;
        width: 75vw;
        float: right;
        margin: 0px 20px 0px 0px;
    }
    img#logo-cv {
        position: relative;
        display: block;
        float: inside;
        margin: 15px;
        max-width: 90%;
        max-height: 90%;
    }
    img#foto3x4 {
        display: block;
        position: absolute;
        right: 5em;
    }
    img#site_logos {
        height: 10pt;
        width: 10pt;
    }
    header#cabecalho {
        margin-bottom: 0px;
        margin: 0px auto 0px auto;
        padding: 0px;
    }
    hgroup#titulo {
        height: 100px;
        text-align: center;
    }
        hgroup#titulo h1 {
            font-size: 3rem;
            margin: 40px 0px 0px 0px;
            padding: 0px;
        }
        hgroup#titulo h6 {
            text-align: right;
            margin: 10px 5px 10px 0px;
            padding: 0px;
            font-size: 1rem;
            color: #606060;
        }
    nav#menu {
        display: block;
        text-align: center;
    }
        nav#menu ul {
            position: relative;
            bottom: 4px;
            list-style: none;
            text-transform: uppercase;
        }
        nav#menu li {
            display: inline-block;
            font-weight: bolder;
            padding: 10px;
            margin-bottom: 0px;
            margin-left: 5px;
            margin-top: 0px;
            margin-right: 5px;
            transition: background-color 0.5s;
        }
        nav#menu li:hover {
            background-color: rgba(0, 0, 0, 0.3);
        }
        nav#menu a {
            text-decoration: none;
            color: rgba(0,0,0,1);
        }
        nav#menu a:hover {
            color: rgba(255,255,255,1);
            text-decoration: underline;
        }
    iframe#cPartes {
        display: block;
        position: relative;
        margin: 0px auto 0px auto;
        padding: 5px 0px 5px 0px;
        border: 0px;
        width: 95%;
        height: 20rem;
    }
    div#cont {
        text-align: center;
    }
    footer#rodape {
        clear: both;
        margin: auto 0px 5px 0px;
    }
        footer#rodape hr {
            padding-bottom: 0px;
            margin-bottom: 0px;
            margin-left: 5px;
            margin-right: 5px;
        }