/* 
@Autor : HeltonBValim
*/
@charset "UTF-8";

/*
tag.nomeclasse{}
tag#Nomeid{}
*/
/*Formatações gerais*/
body.principal{
    background-color: #003399;
}
body.corpo{
    background-color: #ffffff;
}
main{
    background-color: #ffffff;
    width: 80vw;
    margin: auto;
    box-shadow: 1px 1px 5px #ffff00;
    padding: 30px;
}
h1, h2, h3{
    text-align: center;
}
p{
    text-align: justify;
    text-indent: 50px;
}
ul {
    list-style-type: circle;
}
/*Formatação do Menu*/
nav#menu {
    display: block;
}
nav#menu h6 {
    display: none;
}
nav#menu ul {
    position: relative;
    bottom: 4px;
    text-align: center;
    list-style: none;
    text-transform: uppercase;
}
nav#menu li {
    display: inline-block;
    font-size: 16px;
    padding: 4px;
    margin: 5px;
    transition: background-color 0.5s;
}
nav#menu li:hover {
    background-color: rgba(0, 0, 0, 0.5);
}
nav#menu a {
    text-decoration: none;
    color: rgba(0,0,0,1);
}
nav#menu a:hover {
    color: rgba(255,255,255,1);
    text-decoration: underline;
}