/* 
@Autor : HeltonBValim
*/
@charset "UTF-8";

/*
tag.nomeclasse{}
tag#Nomeid{}
*/

body.principal{
    background-color: #003399;
}

body.corpo{
    background-color: #ffffff;
}

main{
    background-color: #ffffff;
}

h1, h2, h3{
    text-align: center;
}

p{
    text-align: justify;
    text-indent: 50px;
}
